.home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-45deg, #1c0606f0, #383634, #022422fc, #584949);
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  color: #e9e6e3;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
}

.home-container .wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1px;
  height: 100vh;
}

.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 24vh;
  margin-top: -12vh;
  transform-origin: 50% 100%;
  background: white;
}